*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container{
    width: 72rem;
    height: 80vh;
    margin: 8rem auto;
    border: 1px solid #777;
    position: absolute;
    border-radius: .2rem;
}

header{
    border-bottom: 1px solid #777;
}

header.title{
    padding: 1rem;
}

main ul.messages{
    margin: 1.5rem 1.5rem 16rem 1.5rem;
}

main ul.messages li.message {
    width: 100%;
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 1.5rem;
    position: relative;
}

main ul.messages li + li {
    margin-top: 1rem;
}

main ul.messages li.message p {
    border: 1px solid black;
    border-bottom: none;
}

main ul.messages li .botoes {
    display: flex;
    justify-content: end;
    gap: .1rem;
}

main ul.messages li .botoes input.Editar{
    background-color: #ffa600;
    padding: .5rem;
}

main ul.messages li .botoes input.Editar:hover,
main ul.messages li .botoes input.Deletar:hover{
    cursor: pointer;
}

main ul.messages li .botoes input.Deletar{
    background-color: #ee4d4d;
    padding: .5rem;
}

main section.typing{
    text-align: center;
    align-items: center;
    background-color: #53e9a0;
    padding: 2rem;
    border: 1px solid #777;
    border-bottom: none;
    margin-left: 24%;
    max-width: 42rem;
    position: absolute;
    bottom: 0rem;
}

main section.typing form{
    display: flex;
    gap: .8rem;
}

main section.typing form textarea{
    resize: none;
    border: 1px solid black;
    width: 32rem;
    height: 16rem;
    padding: .8rem;
}

main section.typing form input {
    width: 6rem;
    height: 2.5rem;
    border-radius: .8rem;
}

main section.typing form input:hover{
    cursor: pointer;
}


header.title{
    background-color: #00ff85;
    width: 100%;
}

